PayID.Partner/Service References/vnpost.bccp.v2/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ctin.Oe.DAO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTracePostBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postBagIndex" type="xs:int" />
        <xs:element minOccurs="0" name="fromPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailTripType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailTripNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracePostBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTracePostBagResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="TracePostBagDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/TracePostBagDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTracePostBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tracePostBagDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="TracePostBagDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/TracePostBagDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTracePostBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTracePostBagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPOSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="POSDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/POSDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllUnitResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="UnitDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/UnitDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMailRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMailRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMailRouteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailRouteDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailRouteDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeliveryRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeliveryRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllDeliveryRouteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryRouteDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryRouteDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemTypeDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ItemTypeDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ItemTypeDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValueAddedService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueAddedServiceDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ValueAddedServiceDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ValueAddedServiceDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValueAddedServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddValueAddedServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommodityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commodityTypeDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CommodityTypeDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CommodityTypeDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommodityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommodityTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomesticFreightRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domesticFreightRuleDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DomesticFreightRuleDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DomesticFreightRuleDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomesticFreightRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDomesticFreightRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInternationalFreightRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="internationalFreightRuleDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="InternationalFreightRuleDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/InternationalFreightRuleDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInternationalFreightRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInternationalFreightRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMSDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Direct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMSDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEMSDeliveryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEMSDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsDelivery" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Direct" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEMSDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEMSDeliveryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="revenueDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="RevenueDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/RevenueDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRevenueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_InquiryParcelInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParcelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_InquiryParcelInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayPost_InquiryParcelInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PARCEL_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TRANS_REF_NO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TRANS_AMOUNT" type="xs:int" />
        <xs:element minOccurs="0" name="TRANS_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_RevertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayPost_RevertResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_UpdatePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PARCEL_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ISSUE_DATE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TRANS_AMOUNT" type="xs:int" />
        <xs:element minOccurs="0" name="TRANS_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TRANS_REF_NO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ADDRESS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_PHONE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ID_TYPE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ID_NUMBER" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ID_DATE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PAYER_ID_WHERE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPost_UpdatePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayPost_UpdatePaymentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_PARCEL_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parcelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QUERY_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_PARCEL_INFOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INQUIRY_PARCEL_INFOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_ISSUE_RESULT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Issue_PO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IssueTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_ISSUE_RESULTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UPDATE_ISSUE_RESULTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeliveryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceType" type="xs:int" />
        <xs:element minOccurs="0" name="DeliveryPO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeliveryTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DeliveryIdType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeliveryIdNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeliveryIdDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DeliveryIdLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RealReciverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RealReceiverIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeliveryUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CauseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SolutionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsDeliverable" type="xs:boolean" />
        <xs:element minOccurs="0" name="DeliveryNote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CODAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="CODFreight" type="xs:decimal" />
        <xs:element minOccurs="0" name="PostageFreight" type="xs:decimal" />
        <xs:element minOccurs="0" name="AddedFreight" type="xs:decimal" />
        <xs:element minOccurs="0" name="ReturnFreight" type="xs:decimal" />
        <xs:element minOccurs="0" name="OtherFreight" type="xs:decimal" />
        <xs:element minOccurs="0" name="clientTimeOut" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeliveryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushDeliveryInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="PayPostDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/PayPostDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPostComparision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPostComparisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayPostComparisionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptedItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acceptedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceptedItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAcceptedItemListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receivedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryItemListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OE_GetDataClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToPosCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MailTripType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MailTripNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OE_GetDataClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ctin.Oe.DAO" minOccurs="0" name="OE_GetDataClientResult" nillable="true" type="q1:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPS_GetDispatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPS_GetDispatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GPS_GetDispatchesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPS_GetIncompleteBD10sByVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPS_GetIncompleteBD10sByVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GPS_GetIncompleteBD10sByVehicleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ItemDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ItemDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listItemCode" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ItemDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ItemDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="ItemDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/ItemDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBatchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BatchDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BatchDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BatchDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BatchDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripToPosInDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtYear" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripToPosInDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTripToPosInDayResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailTripType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailTripNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTripResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTripListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripListDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripListDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMailtrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailTripDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMailtripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMailtripResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripEMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripEMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTripEMSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMailTripEMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailTripDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BCCP_EMS_Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMailTripEMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMailTripEMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripEMSNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTripEMSNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTripEMSNewResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMailTripEMSGeted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailtripDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMailTripEMSGetedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMailTripEMSGetedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountMailTripEMSNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountMailTripEMSNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountMailTripEMSNewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listItemCode" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListDeliveryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DeliveryDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DeliveryDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeliveryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailtripTransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transportCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailtripTransportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailtripTransportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripTransportDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripTransportDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMailtripTransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailTripTransportDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="MailTripTransportDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/MailTripTransportDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMailtripTransportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMailtripTransportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceInfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceInforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceInforResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceByStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceByMailTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceByMailTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceByMailTripResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceDeliveryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceBatchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceArrBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arrID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceArrBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceArrBarCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsTrackAndTraceAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsTrackAndTraceAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBC37">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bC37Index" type="xs:int" />
        <xs:element minOccurs="0" name="drTransportDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toPOSCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transportTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBC37Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBC37Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BC37DataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BC37DataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBC37">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bC37DataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BC37DataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BC37DataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBC37Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBC37Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBC37EMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBC37EMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBC37EMSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BC37DataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BC37DataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBC37EMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailTripDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="BC37DataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/BC37DataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BCCP_EMS_Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBC37EMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBC37EMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_COD_IN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parcelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QUERY_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_COD_INResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INQUIRY_COD_INResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CODDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CODDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_COD_OUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parcelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QUERY_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INQUIRY_COD_OUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="INQUIRY_COD_OUTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CODDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CODDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT_COD_IN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PARCEL_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="COLLECT_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="COLLECT_AMOUNT" type="xs:decimal" />
        <xs:element minOccurs="0" name="RECEIVE_COLLECT_FEE" type="xs:decimal" />
        <xs:element minOccurs="0" name="TRANS_AMOUNT" type="xs:decimal" />
        <xs:element minOccurs="0" name="TRANS_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TRANS_REF_NO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ADDRESS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_PHONE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ID_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="PAYER_ID_NUMBER" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYER_ID_DATE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PAYER_ID_WHERE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SERVICE_TYPE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DELIVERY_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="POST_OFFICE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TELLER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="POSTMAN_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT_COD_INResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PAYMENT_COD_INResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CODDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CODDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT_COD_OUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PARCEL_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAY_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TRANS_AMOUNT" type="xs:decimal" />
        <xs:element minOccurs="0" name="TRANS_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TRANS_REF_NO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RECEIVER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RECEIVER_ADDRESS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RECEIVER_PHONE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RECEIVER_ID_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="RECEIVER_ID_NUMBER" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RECEIVER_ID_DATE" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RECEIVER_ID_WHERE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="POST_OFFICE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TELLER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAYMENT_COD_OUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PAYMENT_COD_OUTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CODDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CODDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERT_COD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PARCEL_CODE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PAYMENT_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TRANS_REF_NO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TRANS_AMOUNT" type="xs:decimal" />
        <xs:element minOccurs="0" name="TRANS_TIME" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TRANS_TYPE" type="xs:int" />
        <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVERT_CODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVERT_CODResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="CODDataSet" Namespace="http://schemas.datacontract.org/2004/07/Ctin.Css.ExchangeService.DataSets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/CODDataSet.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComparisonCOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDayCompare" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComparisonCODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComparisonCODResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>